

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h1 class="display-4">Hello @ViewData["UserName"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form asp-controller="User" asp-action="Logout" method="post" class="form">
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Logout" />
            </div>
        </form>
</div>
